*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
}
body, .container-central, .btn-s-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-esquerdo{
    background-image: url("img/gato-mec.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 2rem 0 0rem 2rem;
}
.container-esquerdo, .container-direito{
    width: 50%;
    height: 100%;
}
.container-direito{
    padding: 12px;
}
.btn-s-menu{
    flex-direction: column;
    width: 50%;
    height: 90%;
    gap: 12px
     
}
.btn-menu{
    background-color: blue;
    width: 100%;
    padding: 12px;
}
.btn-menu{
    color: #fff;
    font-size: 1rem;
    border-radius: 12px;

}
.container-central{
    background-color: #fff;
    border-radius: 2rem;
    height: 75vh;
    width: 70%;
}