*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body{
    background-image: url("img/sessão-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form, .caixa{
    background-color: #17012b6b;
    backdrop-filter: blur(30px);
    border-radius: 32px;
    padding: 20px;
    border: 1px solid #ffffff33;
    display: flex;
    flex-direction: column;
    width: 40%;
}
form p {
    margin-top: 20px;
    padding: 0 12px;
    color: red;
    letter-spacing: 0.8px;
}
legend{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
label{
    color: #ffffff9c;
    font-size: 1rem;
    margin-bottom : 8px;
}
input{
    border: none;
    border-radius: 32px;
    padding: 20px;
    background-color: #2b0053;
    margin-bottom: 12px;
}
input::placeholder{
    color: #ffffff6b;
}
.caixa{
    display: flex;
    flex-direction: column;
}
.caixa p{
    text-align: center;
}
.btn{
    border: none;
    text-decoration: none;
    border-radius: 32px;
    background-color: #3f07c0;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 16px 20px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
   
}